# .dockerignore
# Ignorar archivos innecesarios
.git
.gitignore
*.log
*.jar
target/
bin/
.mvn/
.vscode/
.idea/
*.iml
.DS_Store
*.swp
*.swo
node_modules/
tmp/
logs/
*.db
*.sqlite
.env.local
.env.development.local
.env.test.local
.env.production.local